node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/screenshots
/tests
/tests-examples
**/*/src
**/*/tools
.babelrc
.editorconfig
.eslintrc
package.json
postcss.config.js
README.md
webpack.config.js
yarn.lock
